@import './../../../assets/styles/colors.scss';

.side-nav-links {
    display: flex;
    flex-direction: column;

    a {
        text-decoration: none;
        color: $darker-green;
        margin: 12px 0px;
        display: flex;
        align-items: center;

        .material-icons {
            margin-right: 6px;
        }

        .favorites-count {
            background: #28886C;
            width: 25px;
            height: 25px;
            margin-left: 10px;
            border-radius: 50%;
            color: #FFF;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1em;

            span {
                position: relative;
                top: -1px;
            }
        }
    }
}