<div class="details-page">
    <div class="details-page-container" *ngIf="currentAttraction">
        <div class="attraction-img" [style.background-image]="'url(' + currentAttraction.img + ')'"></div>
        <span (click)="onBackClick()" class="material-icons attraction-back-icon">arrow_back</span>
        <div class="attraction-details">
            <div class="attraction-details-top">
                <div class="attraction-details-top-left">
                    <div>{{ currentAttraction.name }}</div>
                    <div>{{ currentAttraction.province }}</div>
                </div>
                <div class="attraction-details-top-left">
                    <span (click)="currentAttraction.isSelected = !currentAttraction.isSelected" class="material-icons">{{ currentAttraction.isSelected ? 'favorite' : 'favorite_border' }}</span>
                </div>
            </div>
            <div class="attraction-details-bottom">
                <div class="attraction-info" [innerHTML]="currentAttraction.fullDescription || currentAttraction.description"></div>
                <div class="attraction-video-section">
                    <iframe [src]="sanitizer.bypassSecurityTrustResourceUrl(currentAttraction.video)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
