@import './../../../assets/styles/colors.scss';

.welcome-page {
    display: flex;
    flex-direction: column;
    padding: 30px;
    justify-content: center;

    .welcome-page-top {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 30px;

        .welcome-page-logo {
            width: 120px;
            margin-bottom: 20px;

            img {
                max-width: 100%;
            }
        }

        .welcome-page-title {
            font-size: 2em;
            margin-bottom: 20px;
            color: $badge-green;
        }

        .welcome-page-subtitle {
            color: grey;
        }
    }
}